#imgProduct{
  max-width: 170px;
  max-height: 170px;
}

@media screen and (max-width: 1299px){
    #imgProduct{
        max-width: 130px;
        max-height: 130px;
      };
}

@media screen and (max-width: 950px){
    #imgProduct{
        width: 90px;
      };
}  

@media screen and (max-width: 599px){
  #imgProduct{
      width: 50px;
    };
}