@media screen and (max-width: 1299px){
    #img{
        width: 65px;
      };
}

@media screen and (max-width: 950px){
    #img{
        width: 90px;
      };
}  

@media screen and (max-width: 599px){
  #img{
      width: 50px;
    };
}