@media screen and (max-width: 1299px){
    #imgUser{
        width: 55px;
      };
}

@media screen and (max-width: 950px){
    #imgUser{
        width: 70px;
      };
}  

@media screen and (max-width: 599px){
  #imgUser{
      width: 35px;
    };
}