#root {
  background-color: #18191A;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

#logo {
  height: 1em;
  width: 1em;
}

/* Quitar luego */

.form-control{
  width: 12em;
}

#userProfileOn {
  display: none
}

#userProfileOff {
  display: block
}

#userIcon {
  display: none;
}
